/***************************** FONTS *****************************/
@font-face {
  font-family: "muse-500";
  src: url("../fonts/museosans-500.otf");
}

@font-face {
  font-family: "muse-300";
  src: url("../fonts/museosansrounded-300-webfont.ttf"),
    url("../fonts/museosansrounded-300-webfont.woff"),
    url("../fonts/museosansrounded-300-webfont.svg");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../fonts/OpenSans-SemiBold.ttf");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

/***************************** CUSTOM SETTINGS *****************************/
html {
  background-color: #ffffff;
}

body {
  background-color: white;
  color: #2a2b2b;
}

p,
ul,
ol {
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p a,
h5 a {
  font-weight: bold;
  transition: all 0.2s ease-out;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5;
  margin-bottom: 1.5em;
}

h1 {
  font-size: 28px;
  font-family: "muse-300", Georgia, serif;
}

h2 {
  font-size: 26px;
  font-family: "muse-300", Georgia, serif;
}

h3 {
  font-size: 21px;
  font-family: "muse-300", Georgia, serif;
}

h4 {
  font-size: 18px;
  font-family: "muse-300", Georgia, serif;
}

h5 {
  font-size: 14px;
  font-weight: bold;
}

.btn-custom {
  color: #ffffff;
  background-color: #72dbc9;
  font-size: 18px;
  font-family: "muse-500", Arial, sans-serif;
  transition: 0.3s all ease-out;
}

.btn-custom:hover {
  box-shadow: 1px 3px 12px 0px #b3b3b3;
  color: #2a2b2b;
  background: white;
}

.card {
  border-color: white;
}

.card:hover {
  border-color: #ffebf9;
  background: #ffebf9;
  transition: 0.7s all ease-out;
}

/*************************** NAVBAR **********************/
#navbar {
  padding: 15px 25px;
  border: none;
  background: #ffffff;
  transition: padding-top 0.3s, padding-bottom 0.3s;
}

#navbar .navbar-toggler {
  background: #72dbc9;
  border: none;
}

#navbar .navbar-nav .nav-item .nav-link {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  font-family: "muse-500", Arial, sans-serif;
  transition: all 0.3s ease-out;
  padding-left: 30px;
  padding-right: 30px;
}

#navbar .navbar-nav .nav-item .nav-link.active,
#navbar .navbar-nav .nav-item .nav-link:hover {
  color: #72dbc9 !important;
  transition: all 0.5s ease-out;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}

.center-nav-links {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.logo {
  width: 150px !important;
  height: 150px !important;
}

/**************************** HEADER ***************************/
#header {
  overflow-x: hidden;
}

.skill:hover {
  background: #72dbc9;
  width: 177px;
}

.skill img {
  margin-top: 10px;
  padding-right: 10px;
}

#header #header-container {
  padding: 50px;
  background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/healthy-meals-half-hour-1518191490.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 530px;
  width: 100% !important;
}

.header-img-title {
  font-family: "Oleo Script", cursive;
  font-size: 80px;
  color: #2a2b2b;
}

#header #header-container .text-container {
  margin-top: 150px;
}

#header #header-container .text-container h1,
#header #header-container .text-container h4 {
  color: #2b4661;
  line-height: 1.5em;
}

#header #header-container .text-container h1 {
  font-family: "muse-300", Georgia, serif;
}

#header #header-container .text-container h4 {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
}

#header #footer-container {
  background-color: #f2f2f2;
  padding: 30px;
  border-bottom: 1px solid #e6e6e6;
}

#header #footer-container button {
  color: #ffffff;
  background-color: #2b4661;
  font-size: 20px;
  font-family: "muse-500", Arial, sans-serif;
  float: right;
  margin: 0 0 10px 10px;
}

#header #footer-container .event-details {
  font-family: "muse-500", Arial, sans-serif;
  font-size: 18px;
  color: #565659;
}

#header #footer-container .event-details a {
  font-family: "OpenSans-Semibold", Arial, sans-serif;
  font-size: 16px;
}

#header #footer-container p {
  color: #5a6175;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
}

/********************************* EVENT/ABOUT ***********************************/
#main-section {
  padding: 20px 0;
  font-family: "muse-500", Arial, sans-serif;
}

#main-section .container .row .col-md-4 .card a img {
  opacity: 0.7;
  height: 200px;
}

#main-section .container .row .col-md-4 .card a img:hover {
  opacity: 1;
  transition: all 0.7s ease-out;
}

#main-section .container .row .col-md-4 .card .card-text {
  line-height: 1.3;
}

#main-section .main-page-title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 22px;
}

#main-section .main-page-subtitle {
  font-size: 24px;
  letter-spacing: 1px;
  text-align: left;
}

#main-section h4 {
  font-size: 18px;
  margin: 30px;
}

#main-section .subtitle {
  font-weight: bold;
  text-decoration: underline;
}

.card-body h3 {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.card-body p {
  margin-bottom: 20px;
}

/********************************* ABOUT SECTION ***********************************/
#about-section {
  padding: 20px 0;
  font-family: "muse-500", Arial, sans-serif;
}

#about-section .container .row .col-md-4 .card a img {
  opacity: 0.7;
  height: 200px;
}

#about-section .container .row .col-md-4 .card a img:hover {
  opacity: 1;
  transition: all 0.7s ease-out;
}

#about-section .container .row .col-md-4 .card .card-text {
  line-height: 1.3;
}

#about-section .main-page-title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 22px;
}

#about-section .main-page-subtitle {
  font-size: 24px;
  letter-spacing: 1px;
  text-align: left;
}

#about-section h4 {
  font-size: 18px;
  margin: 30px;
}

#about-section .subtitle {
  font-weight: bold;
  text-decoration: underline;
}

.social i {
  font-size: 55px;
  color: #72dbc9;
  margin: 8px;
}

/********************************* PLANS SECTION ***********************************/
#plans-section {
  padding: 20px 0;
  font-family: "muse-500", Arial, sans-serif;
}

#plans-section .container .row .col-md-4 .card a img {
  opacity: 0.7;
  height: 200px;
}

#plans-section .container .row .col-md-4 .card a img:hover {
  opacity: 1;
  transition: all 0.7s ease-out;
}

#plans-section .container .row .col-md-4 .card .card-text {
  line-height: 1.3;
}

#plans-section .main-page-title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 22px;
}

#plans-section .main-page-subtitle {
  font-size: 24px;
  letter-spacing: 1px;
  text-align: left;
}

#plans-section h4 {
  font-size: 18px;
  margin: 30px;
}

#plans-section .subtitle {
  font-weight: bold;
  text-decoration: underline;
}

.plans {
  margin-bottom: 20px;
  border: 2px solid #dbdbdb;
}

.plans:hover {
  background: #a8a5a5;
  color: white;
}

/********************************* MENU SECTION ***********************************/
#menu-section {
  padding: 20px 0;
  font-family: "muse-500", Arial, sans-serif;
}

#menu-section .container .row .col-md-4 .card a img {
  opacity: 0.7;
  height: 200px;
}

#menu-section .container .row .col-md-4 .card a img:hover {
  opacity: 1;
  transition: all 0.7s ease-out;
}

#menu-section .container .row .col-md-4 .card .card-text {
  line-height: 1.3;
}

#menu-section .main-page-title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 22px;
}

#menu-section .main-page-subtitle {
  font-size: 24px;
  letter-spacing: 1px;
  text-align: left;
}

#menu-section h4 {
  font-size: 18px;
  margin: 30px;
}

#about-section .subtitle {
  font-weight: bold;
  text-decoration: underline;
}

/********************************* FAQS SECTION ***********************************/
#faqs-section {
  padding: 20px 0;
  font-family: "muse-500", Arial, sans-serif;
}

#faqs-section .container .row .col-md-4 .card a img {
  opacity: 0.7;
  height: 200px;
}

#faqs-section .container .row .col-md-4 .card a img:hover {
  opacity: 1;
  transition: all 0.7s ease-out;
}

#faqs-section .container .row .col-md-4 .card .card-text {
  line-height: 1.3;
}

#faqs-section .main-page-title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 22px;
}

#faqs-section .main-page-subtitle {
  font-size: 24px;
  letter-spacing: 1px;
  text-align: left;
}

#faqs-section h4 {
  font-size: 18px;
  margin: 30px;
}

#faqs-section .subtitle {
  font-weight: bold;
  text-decoration: underline;
}

/**************************** CONTACT SECTION ***************************/
#contact {
  padding: 50px 0;
}

#contact label {
  margin-bottom: 10px;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
}

#contact .main-page-title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 22px;
}

#contact-section {
  padding: 20px 0;
  font-family: "muse-500", Arial, sans-serif;
}

#contact-section .container .row .col-md-4 .card a img {
  opacity: 0.7;
  height: 200px;
}

#contact-section .container .row .col-md-4 .card a img:hover {
  opacity: 1;
  transition: all 0.7s ease-out;
}

#contact-section .container .row .col-md-4 .card .card-text {
  line-height: 1.3;
}

#contact-section .main-page-title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 22px;
}

#contact-section .main-page-subtitle {
  font-size: 24px;
  letter-spacing: 1px;
  text-align: left;
}

#contact-section h4 {
  font-size: 18px;
  margin: 30px;
}

#contact-section .subtitle {
  font-weight: bold;
  text-decoration: underline;
}

/**************************** FOOTER ***************************/
footer {
  padding: 20px;
  background: #72dbc9;
  color: #2a2b2b;
}

footer .container-fluid .copyright-area p {
  color: #2a2b2b;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

footer .container-fluid .copyright-area p a {
  color: #2a2b2b;
  text-decoration: none;
}

/**************************** MEDIA-QUERY ***************************/
/**************************** MEDIA-QUERY-IPHONE ***************************/
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .carousel-section {
    margin-bottom: 1146px !important;
  }
  .nav-header {
    font-size: 21px;
  }
  #header #header-container {
    padding: 20px!important;
    background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/healthy-meals-half-hour-1518191490.jpg")!important;
    /* background-attachment: fixed!important; */
    background-position: center;
    background-repeat: no-repeat!important;
    background-size: cover;
    height: 530px!important;
    width: 100% !important;
  }
  .skill:hover {
    background: #72dbc9;
    width: 327px;
  }

  .skill img {
    margin-top: 10px;
    padding-right: 10px;
  }
  .how-section h4 {
    font-size: 23px !important;
  }
}

/**************************** MEDIA-QUERY-IPAD PRO ***************************/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #header #header-container {
    padding: 60px!important;
    background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/healthy-meals-half-hour-1518191490.jpg")!important;
    background-attachment: fixed!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    height: 530px!important;
    width: 100% !important;
  }
  .card-img-top {
    width: 9.8rem !important;
    height: 230px;
  }
  .controls-top {
    margin-top: 56px !important;
  }
  .skill:hover {
    background: #72dbc9;
    width: 146px !important;
  }
  .skill img {
    margin-top: 10px;
    padding-right: 10px !important;
  }
  .how-section h4 {
    font-size: 22px !important;
  }
  .footer-contact {
    margin-top: 400px !important;
  }
  .footer-plans {
    margin-top: 400px !important;
  }
  .footer-faqs {
    margin-top: 648px !important;
  }
}

@media only screen and (min-width: 300px) {
  #navbar {
    box-shadow: 0px 1px 3px #5a6175;
  }

  #navbar.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ffffff;
    color: black;
  }
}

@media only screen and (max-width: 414px) {
  #header #header-container {
    padding: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
    height: 480px;
  }

  #contact .main-page-title {
    margin-top: 36px;
  }

  .menu-img {
    width: 350px;
    height: 490px;
  }

  .logo {
    width: 80px !important;
    height: 80px !important;
    margin-top: -70px;
    margin-left: 100px !important;
  }

  .logos {
    width: 150px !important;
    height: 150px !important;
    margin-top: 50px;
    margin-left: 114px !important;
  }

  .faqs {
    width: 50px;
  }

  .contacts {
    margin-top: 60px;
  }

  .contact-detail {
    margin-top: 60px;
  }

  .plans {
    margin-bottom: 20px;
    border: 1px solid #dbdbdb;
  }

  .center {
    width: 270px;
    height: 150px;
    margin-left: 24px;
  }

  .header-img-title {
    font-size: 53px;
    margin-top: -30px;
  }

  .about-jean-img {
    width: 300px;
    height: 320px;
  }

  .main-btn {
    font-size: 13px;
  }

  #header #footer-container p {
    letter-spacing: 1px;
    line-height: 1.2;
  }

  #main-section .container .row .col-md-4 .card {
    margin-bottom: 35px;
  }

  #main-section {
    padding-bottom: 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .about-jean-img {
    width: 320px;
    height: 320px;
  }
}
